<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--dark-nav-links-xl u-header--show-hide-xl u-header--static-xl"
        data-header-fix-moment="500" data-header-fix-effect="slide">
    <div class="u-header__section u-header__shadow-on-show-hide py-4 py-xl-0">
        <div id="logoAndNav" class="container-fluid py-xl-2 border-bottom-xl">
            <!-- Nav -->
            <% if(typeof session != 'undefined' && session.role === "owner") { %>
                <%- include('navigation/owner-navigation') -%>
            <% } else if(typeof session != 'undefined' && session.role === "admin") { %>
                <%- include('navigation/admin-navigation') -%>
            <% } else  { %>
                <%- include('navigation/user-navigation') -%>
            <% } %>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== End HEADER ========== -->