<%- include('_layouts/header') -%>
<nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/editHeader/header">Edit Header</a></li>
            <li><a href="/contact">Add Page</a></li>
            <li><a href="/allpages">View Pages</a></li>
            <li><a class="active" href="/logout">Logout</a></li>
        </ul>
    </nav>
<main>
    <section>
        <h1>Thank you for using the application! You are successfully logged out.
    </section>
</main>
<%- include('_layouts/footer') -%>