<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('_layouts/head') -%>
</head>
    <body class="">
    <%- include('_layouts/header') -%>

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" class="">
            <div class="border-bottom py-3">
                <div class="container-fluid">
                    <div class="d-block d-md-flex flex-horizontal-center">
                        <div class="text-center mr-4 mb-4 mb-md-0">
                            <!-- Account Sidebar Toggle Button -->
                            <a id="sidebarNavToggler" class="btn btn-sm btn-primary height-50 font-size-16 px-4 px-md-3 px-wd-4 d-flex align-items-center justify-content-center" href="javascript:;" role="button"
                               aria-controls="sidebarContent"
                               aria-haspopup="true"
                               aria-expanded="false"
                               data-unfold-event="click"
                               data-unfold-hide-on-scroll="false"
                               data-unfold-target="#sidebarContent"
                               data-unfold-type="css-animation"
                               data-unfold-overlay='{
                               "className": "u-search-slide-down-bg-overlay",
                               "background": "rgba(59, 68, 79, .851)",
                               "animationSpeed": 400
                               }'
                               data-unfold-animation-in="fadeInRight"
                               data-unfold-animation-out="fadeOutRight"
                               data-unfold-duration="500">
                               <i class="flaticon-filter font-size-20"></i>
                                <span class="d-md-none d-wd-inline ml-2">Show Filters</span>
                            </a>
                            <!-- End Account Sidebar Toggle Button -->

                            <!-- Sidebar Navigation -->
                            <aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
                                <div class="u-sidebar__scroller">
                                    <div class="u-sidebar__container">
                                        <div class="u-header-sidebar__footer-offset pb-0">
                                            <!-- Toggle Button -->
                                            <div class="d-flex align-items-center pt-2 px-5">
                                                <button type="button" class="btn btn-sm ml-auto font-size-14 p-0"
                                                    aria-controls="sidebarContent"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                                    data-unfold-event="click"
                                                    data-unfold-hide-on-scroll="false"
                                                    data-unfold-target="#sidebarContent"
                                                    data-unfold-type="css-animation"
                                                    data-unfold-animation-in="fadeInRight"
                                                    data-unfold-animation-out="fadeOutRight"
                                                    data-unfold-duration="500">
                                                    <span aria-hidden="true" class="text-primary">Back to List <i class="flaticon-close ml-2 font-size-10"></i></span>
                                                </button>
                                            </div>
                                            <!-- End Toggle Button -->
                                            <!-- Content -->
                                            <div class="js-scrollbar u-sidebar__body">
                                                <div class="u-sidebar__content u-header-sidebar__content">
                                                    <div class="pb-4 mb-2">
                                                        <div class="sidebar border border-radius-3">
                                                            <div class="p-4 mb-1">
                                                                <!-- Input -->
                                                                <span class="d-block text-gray-1  font-weight-normal mb-0 text-left">Destination or Hotel Name</span>
                                                                <div class="mb-4">
                                                                    <div class="input-group border-bottom border-width-2 border-color-1">
                                                                        <i class="flaticon-pin-1 d-flex align-items-center mr-2 text-primary font-weight-semi-bold font-size-22"></i>
                                                                      <input type="text" class="form-control font-weight-bold font-size-16 shadow-none hero-form font-weight-bold border-0 p-0" placeholder="Where are you going?" aria-label="Keyword or title" aria-describedby="keywordInputAddon">
                                                                    </div>
                                                                </div>
                                                                <!-- End Input -->
                                                                <!-- Input -->
                                                                <span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Check In - Out</span>
                                                                <div class="mb-4">
                                                                    <div class="border-bottom border-width-2 border-color-1">
                                                                        <div id="datepickerWrapperPick" class="u-datepicker input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="d-flex align-items-center mr-2 font-size-21">
                                                                                  <i class="flaticon-calendar text-primary font-weight-semi-bold"></i>
                                                                                </span>
                                                                            </div>
                                                                            <input class="js-range-datepicker font-size-16 ml-1 shadow-none font-weight-bold form-control hero-form bg-transparent border-0 flatpickr-input p-0" type="text" placeholder="July 7/2019" aria-label="July 7/2019"
                                                                            data-rp-wrapper="#datepickerWrapperPick"
                                                                            data-rp-type="range"
                                                                            data-rp-date-format="M d / Y"
                                                                            data-rp-default-date='["Jul 7 / 2020", "Aug 25 / 2020"]'>
                                                                        </div>
                                                                        <!-- End Datepicker -->
                                                                    </div>
                                                                </div>
                                                                <!-- End Input -->

                                                                <!-- Input -->
                                                                <span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Rooms and Guests</span>
                                                                <div class="mb-4 position-relative">
                                                                    <div class="border-bottom border-width-2 border-color-1">
                                                                        <a id="basicDropdownClickInvoker" class="dropdown-nav-link dropdown-toggle flex-horizontal-center pt-3 pb-2" href="javascript:;" role="button"
                                                                            aria-controls="basicDropdownClick"
                                                                            aria-haspopup="true"
                                                                            aria-expanded="false"
                                                                            data-unfold-event="click"
                                                                            data-unfold-target="#basicDropdownClick"
                                                                            data-unfold-type="css-animation"
                                                                            data-unfold-duration="300"
                                                                            data-unfold-delay="300"
                                                                            data-unfold-hide-on-scroll="true"
                                                                            data-unfold-animation-in="slideInUp"
                                                                            data-unfold-animation-out="fadeOut">
                                                                            <i class="flaticon-add-group d-flex align-items-center mr-3 font-size-20 text-primary font-weight-semi-bold"></i>
                                                                            <span class="text-black font-size-16 font-weight-semi-bold mr-auto">2 Rooms - 3 Guests</span>
                                                                        </a>
                                                                        <div id="basicDropdownClick" class="dropdown-menu dropdown-unfold col m-0" aria-labelledby="basicDropdownClickInvoker">
                                                                            <div class="w-100 py-2 px-3 mb-3">
                                                                                <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                                                    <span class="d-block font-size-16 text-secondary font-weight-medium">Rooms</span>
                                                                                    <div class="d-flex">
                                                                                        <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                                                        </a>
                                                                                        <input class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="1">
                                                                                        <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="w-100 py-2 px-3 mb-3">
                                                                                <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                                                    <span class="d-block font-size-16 text-secondary font-weight-medium">Adults</span>
                                                                                    <div class="d-flex">
                                                                                        <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                                                        </a>
                                                                                        <input class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="1">
                                                                                        <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="w-100 py-2 px-3">
                                                                                <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                                                    <span class="d-block font-size-16 text-secondary font-weight-medium">Child</span>
                                                                                    <div class="d-flex">
                                                                                        <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                                                        </a>
                                                                                        <input class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="1">
                                                                                        <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="w-100 text-right py-1 pr-5">
                                                                                <a class="text-primary font-weight-semi-bold font-size-16" href="#">Done</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End Input -->

                                                                <div class="text-center">
                                                                    <button type="submit" class="btn btn-primary height-60 w-100 font-weight-bold mb-xl-0 mb-lg-1 transition-3d-hover"><i class="flaticon-magnifying-glass mr-2 font-size-17"></i>Search</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pb-4 mb-2">
                                                        <a href="https://goo.gl/maps/kCVqYkjHX3XvoC4B9" class="d-block border">
                                                            <img src="assets/img/map-markers/map.jpg" alt="" width="100%">
                                                        </a>
                                                    </div>
                                                    <!-- Checkboxes -->
                                                    <div class="sidenav border">
                                                        <!-- Accordiaon -->
                                                        <div id="shopCartAccordion" class="accordion rounded shadow-none">
                                                            <div class="border-0">
                                                                <div class="card-collapse" id="shopCardHeadingOne">
                                                                    <h3 class="mb-0">
                                                                        <button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#shopCardOne" aria-expanded="false" aria-controls="shopCardOne">
                                                                            <span class="row align-items-center">
                                                                                <span class="col-9">
                                                                                    <span class="d-block font-size-lg-15 font-size-17 font-weight-bold text-dark">Price Range ($)</span>
                                                                                </span>
                                                                                <span class="col-3 text-right">
                                                                                    <span class="card-btn-arrow">
                                                                                        <span class="fas fa-chevron-down small"></span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </button>
                                                                    </h3>
                                                                </div>
                                                                <div id="shopCardOne" class="collapse show" aria-labelledby="shopCardHeadingOne" data-parent="#shopCartAccordion">
                                                                    <div class="card-body pt-0 px-5">
                                                                        <div class="pb-3 mb-1 d-flex text-lh-1">
                                                                            <span>£</span>
                                                                            <span id="rangeSliderExample3MinResult" class=""></span>
                                                                            <span class="mx-0dot5"> — </span>
                                                                            <span>£</span>
                                                                            <span id="rangeSliderExample3MaxResult" class=""></span>
                                                                        </div>
                                                                        <input class="js-range-slider" type="text"
                                                                        data-extra-classes="u-range-slider height-35"
                                                                        data-type="double"
                                                                        data-grid="false"
                                                                        data-hide-from-to="true"
                                                                        data-min="0"
                                                                        data-max="3456"
                                                                        data-from="200"
                                                                        data-to="3456"
                                                                        data-prefix="$"
                                                                        data-result-min="#rangeSliderExample3MinResult"
                                                                        data-result-max="#rangeSliderExample3MaxResult">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="propertyCategoryAccordion" class="accordion rounded-0 shadow-none border-top">
                                                            <div class="border-0">
                                                                <div class="card-collapse" id="propertyCategoryHeadingOne">
                                                                    <h3 class="mb-0">
                                                                        <button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#propertyCategoryOne" aria-expanded="false" aria-controls="propertyCategoryOne">
                                                                            <span class="row align-items-center">
                                                                                <span class="col-9">
                                                                                    <span class="font-weight-bold font-size-17 text-dark mb-3">Property Type</span>
                                                                                </span>
                                                                                <span class="col-3 text-right">
                                                                                    <span class="card-btn-arrow">
                                                                                        <span class="fas fa-chevron-down small"></span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </button>
                                                                    </h3>
                                                                </div>
                                                                <div id="propertyCategoryOne" class="collapse show" aria-labelledby="propertyCategoryHeadingOne" data-parent="#propertyCategoryAccordion">
                                                                    <div class="card-body pt-0 mt-1 px-5 pb-4">
                                                                        <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="brandhotel">
                                                                                <label class="custom-control-label" for="brandhotel">Hotels</label>
                                                                            </div>
                                                                            <small>749</small>
                                                                        </div>
                                                                        <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="brandapartmet">
                                                                                <label class="custom-control-label" for="brandapartmet">Apartments</label>
                                                                            </div>
                                                                            <small>630</small>
                                                                        </div>
                                                                        <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="brandbed">
                                                                                <label class="custom-control-label" for="brandbed">Bed and Breakfasts</label>
                                                                            </div>
                                                                            <small>58</small>
                                                                        </div>
                                                                        <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-3 pb-1">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="brandresorts">
                                                                                <label class="custom-control-label" for="brandresorts">Resorts</label>
                                                                            </div>
                                                                            <small>29</small>
                                                                        </div>
                                                                        <!-- End Checkboxes -->

                                                                        <!-- View More - Collapse -->
                                                                        <div class="collapse" id="collapseBrand2">
                                                                            <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                                                                                <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="Gucci">
                                                                                <label class="custom-control-label" for="Gucci">Gucci</label>
                                                                                </div>
                                                                                <small>5</small>
                                                                            </div>
                                                                            <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-3">
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input type="checkbox" class="custom-control-input" id="Mango">
                                                                                    <label class="custom-control-label" for="Mango">Mango</label>
                                                                                </div>
                                                                                <small>1</small>
                                                                            </div>
                                                                        </div>
                                                                        <!-- End View More - Collapse -->

                                                                        <!-- Link -->
                                                                        <a class="link link-collapse small font-size-1" data-toggle="collapse" href="#collapseBrand2" role="button" aria-expanded="false" aria-controls="collapseBrand2">
                                                                          <span class="link-collapse__default font-size-14">Show all 39</span>
                                                                          <span class="link-collapse__active font-size-14">Show less</span>
                                                                        </a>
                                                                        <!-- End Link -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Content -->
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- End Sidebar Navigation -->
                        </div>
                        <h3 class="font-size-21 font-weight-bold mb-0 text-lh-1 mr-2 mb-3 mb-md-0 flex-shrink-0">300+ places to stay</h3>
                        <!-- Nav Links -->
                        <ul class="nav flex-nowrap tab-nav align-items-center py-2 px-0 mb-3 mb-md-0" role="tablist">
                            <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1">
                                <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-xl-3 px-wd-5">Recommended
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                                <select class="js-select selectpicker dropdown-select bootstrap-select__custom-nav w-auto" data-style="btn-sm py-1 px-4 px-xl-3 px-wd-5 font-size-16 text-gray-1 d-flex align-items-center">
                                    <option value="one" selected>Price</option>
                                    <option value="two">Two</option>
                                    <option value="three">Three</option>
                                    <option value="four">Four</option>
                                </select>
                            </li>
                            <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                                <select class="js-select selectpicker dropdown-select bootstrap-select__custom-nav w-auto" data-style="btn-sm py-1 px-4 px-xl-3 px-wd-5 font-size-16 text-gray-1 d-flex align-items-center">
                                    <option value="one" selected>Stars</option>
                                    <option value="two">Two</option>
                                    <option value="three">Three</option>
                                    <option value="four">Four</option>
                                </select>
                            </li>
                            <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                                <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-xl-3 px-wd-5">Guest Rating
                                </a>
                            </li>
                        </ul>
                        <!-- End Nav Links -->
                    </div>
                </div>
            </div>
            <div class="map-collapse map-collapse-hidden" id="MapcollapseExample">
                <div class="pt-xl-6 px-xl-8 pt-4 px-4 ">
                    <div class="row">
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="/property-details" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img9.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="/property-details" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Greater London, United Kingdom
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="/property-details" class="card-title font-size-17 font-weight-medium text-dark">Empire Prestige Causeway Bay</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="/property-details" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img10.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="/property-details" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="/property-details" class="card-title font-size-17 font-weight-medium text-dark">Park Avenue Baker Street London</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="/property-details" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img12.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="/property-details" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="/property-details" class="card-title font-size-17 font-weight-medium text-dark">New Road Hotel</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="/property-details" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img11.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="/property-details" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="/property-details" class="card-title font-size-17 font-weight-medium text-dark">New York Marriott Downtown</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="/property-details" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img9.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="/property-details" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Greater London, United Kingdom
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="/property-details" class="card-title font-size-17 font-weight-medium text-dark">Empire Prestige Causeway Bay</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="../rental/rental-single-v2.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img12.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="../rental/rental-single-v2.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="../rental/rental-single-v2.html" class="card-title font-size-17 font-weight-medium text-dark">New Road Hotel</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="../rental/rental-single-v2.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img9.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="../rental/rental-single-v2.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Greater London, United Kingdom
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="../rental/rental-single-v2.html" class="card-title font-size-17 font-weight-medium text-dark">Empire Prestige Causeway Bay</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="../rental/rental-single-v2.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img11.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="../rental/rental-single-v2.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="../rental/rental-single-v2.html" class="card-title font-size-17 font-weight-medium text-dark">New York Marriott Downtown</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="../rental/rental-single-v2.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img10.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="../rental/rental-single-v2.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="../rental/rental-single-v2.html" class="card-title font-size-17 font-weight-medium text-dark">Park Avenue Baker Street London</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 col-md-4 col-lg-3 col-xl-2dot4">
                            <div class="card transition-3d-hover shadow-hover-2 h-100 w-100">
                                <div class="position-relative">
                                    <a href="../rental/rental-single-v2.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                        <img class="card-img-top" src="assets/img/300x230/img11.jpg" alt="Image Description">
                                    </a>
                                    <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                      <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <span class="flaticon-heart-1 font-size-20"></span>
                                      </button>
                                    </div>
                                    <div class="position-absolute bottom-0 left-0 right-0">
                                        <div class="px-4 pb-3">
                                            <a href="../rental/rental-single-v2.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-white">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i> Istanbul, Turkey
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-2 pb-3">
                                    <a href="../rental/rental-single-v2.html" class="card-title font-size-17 font-weight-medium text-dark">New York Marriott Downtown</a>
                                    <div class="mb-0">
                                        <span class="mr-1 font-size-14 text-gray-1">From</span>
                                        <span class="font-weight-bold">£899.00</span>
                                        <span class="font-size-14 text-gray-1"> / night</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
    <%- include('_layouts/footer') -%>
        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->
    <%- include('_layouts/scripts') -%>
    </body>
</html>
