
body{
	margin: 10px auto;
	box-shadow: 0 0 10px whitesmoke;
	padding: 0px;
	letter-spacing: 2px;
	word-spacing: 2px;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	text-align: center;
	font-weight: bold;
}
h2{
	margin-left: 10px;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.menu{
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
.menu li{
	display: inline-block;
	margin: 7px;
}
footer{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-top: 2px solid white;
	padding-top: 10px;
}
.leftBorder{
	border-radius: 100px 0 0 0;
}
.rightBorder{
	border-radius: 0 0 100px 0;
}

form .form-field label {
	width: 40%;
	float: left;
	margin-left: 20px;
	font-size: 18px;
}

.form-field {
	clear: both;
}

form .form-field .form-input {
	float: left;
	width: 56%;
	height: 35px;
	margin: 0 0 10px 0;
}

form {
	width: 600px;
	margin: 20px auto 40px;
	box-shadow: 0 0 10px white;
	padding: 20px;
}

.form-submit {
	width: 200px;
	height: 40px;
	font-size: 18px;
	margin: 20px auto;
	display: block;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
}
.center{
	text-align: center;
}

.error{
	color:#f03232;
	font-style:italic;
}
.ck.ck-content {
	color: black;
}
table.page-list{
	border: 2px solid white;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin: 20px auto;
}
table.page-list th{
	font-size: 1.25em;
	font-weight: bold;
	background:black ;
	padding: 10px;
	color: white;
}
table.page-list td, table.page-list th{
	border: 2px solid white;
	padding: 5px 10px;
	width: 150px;
	color: white;
	text-align: center;
	font-size: 1.15em;
}
table.page-list td a{
	color:white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1em;
}
table.page-list td a:hover{
	color: orange;
	border-radius: 10px;
	padding: 6px;
}