<nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space">
    <!-- Logo -->
    <a class="navbar-brand u-header__navbar-brand-default u-header__navbar-brand-center u-header__navbar-brand-text-dark-xl" href="/" aria-label="MyTour">
        <img src="/logo/logo.png" height="100px" width="100px">
        <span class="u-header__navbar-brand-text">Solo Property Management</span>
    </a>
    <!-- End Logo -->
    <!-- Responsive Toggle Button -->
    <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--primary order-2 ml-3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span id="hamburgerTrigger" class="u-hamburger__box">
                        <span class="u-hamburger__inner"></span>
                    </span>
    </button>
    <!-- End Responsive Toggle Button -->

    <!-- Navigation -->
    <div id="navBar" class="navbar-collapse u-header__navbar-collapse collapse order-2 order-xl-0 pt-4 p-xl-0">
        <ul class="navbar-nav u-header__navbar-nav">
            <!-- Home -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="homeMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle u-header__nav-link-border" href="/owner-dashboard" aria-haspopup="true" aria-expanded="false" aria-labelledby="homeSubMenu">Owner Dashboard</a>
            </li>
            <!-- End Home -->
            <!-- Rental -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="rentalMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle u-header__nav-link-border" href="/logout" aria-haspopup="true" aria-expanded="false" aria-labelledby="rentalSubMenu">Logout</a>
            </li>
            <!-- End Rental -->
        </ul>
    </div>
    <!-- End Navigation -->
</nav>
