<nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space">
    <!-- Logo -->
        <div class="wrap"> 
            <div class="title ">
                <h2 class="m-0 p-0"><b>Solo Property Management</b></h2>
                <h6 class="m-0 p-0"> &amp; Booking System</h6>
            </div>
        </div>
  
  
    <!-- End Logo -->
    <!-- Responsive Toggle Button -->
    <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--primary order-2 ml-3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span id="hamburgerTrigger" class="u-hamburger__box">
                        <span class="u-hamburger__inner"></span>
                    </span>
    </button>
    <!-- End Responsive Toggle Button -->

    <!-- Navigation -->
    <div id="navBar" class="navbar-collapse u-header__navbar-collapse collapse order-2 order-xl-0 pt-4 p-xl-0">
        <ul class="navbar-nav u-header__navbar-nav">
            <!-- Home -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="homeMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle u-header__nav-link-border" href="/" aria-haspopup="true" aria-expanded="false" aria-labelledby="homeSubMenu">Home</a>
            </li>
            <!-- End Home -->

            <!-- Hotel -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="hotelMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle u-header__nav-link-border" href="#search-property" aria-haspopup="true" aria-expanded="false" aria-labelledby="hotelSubMenu">Search Property</a>
            </li>
            <!-- End Hotel -->

            <!-- Tour -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-max-width="722px" data-position="right">
                <a id="tourMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="/about-us" aria-haspopup="true" aria-expanded="false">About us</a>
            </li>
            <!-- End Tour -->

            <!-- Rental -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="rentalMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle u-header__nav-link-border" href="/login" aria-haspopup="true" aria-expanded="false" aria-labelledby="rentalSubMenu">Login</a>
            </li>
            <!-- End Rental -->
        </ul>
    </div>
    <!-- End Navigation -->
</nav>